@charset "utf-8";

/*header*/
header{width:100%; position:relative; top:0; left:0; background:rgba(255,255,255,0.9); z-index:99;}
header::before {content:""; display:none; position:absolute; bottom:0; left:0; right:0; top:100px; border-top:1px solid #d4d4d4; background:rgba(255,255,255,0.9); z-index:0; box-shadow: 10px 10px 10px rgba(0,0,0,0.05)}
header::after {content:""; display:block; clear:both;}

header #header{width:1200px; margin:0 auto; padding:10px 0;}
header #header::after {content:""; display:block; clear:both; width: 100%;}

header #header #h_logo{float:left; width:210px;}
header #header nav#lnb{float:left; width:100%; margin-left:50px;}
header #header nav#gnb{float:left; width:330px; position:relative;}

header #header nav#lnb{font-size:19px; letter-spacing:-1.6px; font-weight:500;}
header #header nav#lnb ul li.depth1{float:left; width:20%; line-height:80px;}
header #header nav#lnb ul li.depth1 a{display:block; text-align:center; color:#333;}

header #header nav#lnb ul li::after{opacity:0; transform: translate3d(0, 100%, 0); transition: transform .3s ease-out, opacity .3s ease-out;}
header #header nav#lnb ul li:hover::after{opacity:1; transform:translate3d(0, 0, 0);}
header #header nav#lnb ul li.depth1{position:relative;}
header #header nav#lnb ul li.depth1::after{content:""; width:100%; /*height:5px;*/ background-color:#ffda00; position:absolute; left:0; top:85px;}


header #header nav#lnb ul li.depth1 div.depth2{display:none; position:relative; z-index:2;}
header #header nav#lnb ul li.depth1 div.depth2 ul{line-height:54px; padding-top:16px;}
header #header nav#lnb ul li.depth1 div.depth2 ul li{text-align:center; font-size:17px;}
header #header nav#lnb ul li.depth1 div.depth2 ul li a{display:block;}
header #header nav#lnb ul li.depth1 div.depth2 ul li a:hover{color:#999;}


header #header nav#gnb dl{width:110px; border:solid 1px #999; border-radius:20px; padding:5px; margin-top:18px; float:right; line-height:30px; text-align:center; background:url("../images/common/gnb_down.png")no-repeat 96px 18px rgba(255,255,255,0.5); position:absolute; right:0;}
header #header nav#gnb dl:hover{background-color:#fff;}

header #header nav#gnb dl dt{background:url("../images/common/gnb_ico.png")no-repeat 11px 8px;}
header #header nav#gnb dl dt a{display:block; color:#999;}
header #header nav#gnb dl dd{display:none;}
header #header nav#gnb dl dd a{display:block; color:#999;}

header .m_head{display:none;}

/*footer*/
footer{width:100%; background:#2f3640; position:relative;}
footer::after{content:''; display:block; clear:both;}

footer .back_top{display:block; position:absolute; bottom:90%; right:13%;}

footer #f_menu{border-bottom:solid 1px #74777c;}
footer #f_menu::after{content:''; display:block; clear:both;}

footer #f_menu ul{width:1200px; margin:0 auto; overflow:hidden;}
footer #f_menu ul li{width:183px; float:left; text-align:center; font-size:16px; border-left:solid 1px #74777c; letter-spacing: -1.0px;}
footer #f_menu ul li:last-child{border-right:solid 1px #74777c;}

footer #f_menu ul li a.kakaotalk{background:url("../images/common/kakao_talk.png")no-repeat 13%; padding-left:25%;}
footer #f_menu ul li a.navertalk{background:url("../images/common/naver_talk.png")no-repeat 13%; padding-left:25%;}

footer #f_menu ul li a:hover{background:#3f444a;}
footer #f_menu ul li a:hover.kakaotalk{background:url("../images/common/kakao_talk_o.png")no-repeat 13% #ffd800; color:#3b2a1c;}
footer #f_menu ul li a:hover.navertalk{background:url("../images/common/naver_talk.png")no-repeat 13% #5ab007; color:#fff;}

footer #f_menu ul li a{color:#d0d0d0; display:block; padding:23px 25px;}

footer #address{clear:both; width:100%;}
footer #address .wrap{width:1200px; margin:0 auto; position:relative;}

footer #address .wrap p.f_logo{padding-top:30px;}
footer #address .wrap .adr{color:#d0d0d0; font-size:14px; letter-spacing:-0.8px; line-height:22px; padding:20px 0 30px 15px;}
footer #address .wrap .adr a{color:#d0d0d0;}
footer #address .wrap .adr p.copyright{font-size:13px; color:#989898; letter-spacing:0;}
footer #address .wrap .adr p span.mail{letter-spacing:0;}

footer #address .wrap dl.social{position:absolute; top:15%; right:0; width:20%;}
footer #address .wrap dl.social dd{float:left; margin-left:5%;}

/*popup*/
.popup {display: none; position:fixed; z-index:99; width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,0.5);}
.popup-inner {position:absolute; width:30%; height:73%; top:50%; left:50%; transform:translate(-50%, -50%); padding:3%; background:#fff; /*border-radius: 2rem 0;*/}
.popup-close{ position:absolute; display:block; top:10px; right:10px; font-size:40px; color:#555; z-index:5;}

.popup #sub_cont section#hotel_search{margin:0;}
.popup #sub_cont section#hotel_search article.wrap{width:100%;}

.popup #sub_cont section#hotel_search fieldset input[type="search"]{width:85%;}
.popup #sub_cont section#hotel_search article.wrap fieldset button{right:10%;}

.popup #sub_cont section#hotel_search article.wrap .hotel_list dl{margin:50px 0 30px 0;}
.popup #sub_cont section#hotel_search article.wrap .hotel_list dl dd{width:100%; margin:0 0 3% 0; height:250px; overflow:hidden;}

.popup #sub_cont section#hotel_search article.wrap .hotel_list dl dd:hover::after{content:"";width:100%; height:100%; box-sizing: border-box;}
.popup #sub_cont section#hotel_search article.wrap .hotel_list dl dd .map_view{left:45%; bottom:11%;}
.popup #sub_cont section#hotel_search article.wrap .hotel_list dl dd .sale{width:16%; padding:2%;}
.popup #sub_cont section#hotel_search article.wrap .hotel_list dl dd .thumb{background: no-repeat 50% 9%;}

.popup #sub_cont section#hotel_search article.wrap .hotel_list dl dd .txt_box h2{font-size:24px; margin:20px 0 0 0;}
.popup #sub_cont section#hotel_search article.wrap .hotel_list dl dd .txt_box p{font-size:16px; line-height:24px;}
.popup #sub_cont section#hotel_search article.wrap .hotel_list dl dd .txt_box{width:52%; float:left; padding:4%; text-align:left;}
.popup #sub_cont section#hotel_search article.wrap .hotel_list dl dd .thumb{width:40%; float:left; height:18rem;}

.popup .control .next{right:27%;}
.popup .control .prev{left:27%;}

.scroll-box{overflow-y:scroll; line-height:1.5em; color:#555; height:27rem; background:#f8f8f8; padding:3%; margin:3% 0;}
.terms_use{height: 60%; width:50%; overflow: hidden;}

.popup-contents .close_btn{}
.popup-contents .close_btn a{display:block; text-align:center; background:#828282; padding:20px 0; margin:20px auto; color:#fff; width:20%;}